@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');


.app-header{

    margin: 0;
    padding: 0;
    display: flex;
    font-family: "Fredoka", sans-serif;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,  rgb(5, 105, 255), rgb(4, 86, 210));
    color: rgb(255, 255, 255);
    
}